/*=====Fonts=====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /*Poppins font*/
/*=====Style Variables=====*/
/*--- OTHER SCREENS ---*/
/*--- MOBILE ---*/
/*======Body Style=====*/
/*==========Header Style==========*/
/*======Nav Style=====*/
/*======Footer Style=====*/
/*======Back to top btn Style=====*/
/*--- MOBILE SCREEN ---*/
/*--- TABLET SCREEN ---*/
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
body h1 {
  text-align: center;
  font-size: 3.125rem;
  margin: 0;
}
body section {
  padding: 50px 100px;
}
body button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: black;
  border: none;
}

header {
  margin: 10px;
}
header .header-content {
  border-radius: 60px;
  padding: 80px;
  font-size: 1.5rem;
  text-align: center;
}
header nav {
  /*hide mobile nav*/
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .nav-other-screens {
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
header nav .nav-other-screens .nav-logo-name {
  margin-right: auto;
}
header nav .nav-other-screens .nav-logo-name img {
  height: 70px;
  padding: 10px 0;
}
header nav .nav-other-screens .nav-logo-name p {
  line-height: 1;
}
header nav .nav-other-screens .nav-contact-us a {
  color: white;
}
header nav .nav-other-screens .nav-general {
  width: 50%;
  justify-content: space-evenly;
}
header nav .nav-other-screens .nav-contact-us {
  margin-left: auto;
}
header nav .nav-other-screens .nav-contact-us a {
  padding: 10px 15px 10px 30px;
  border-radius: 80px;
  background-color: #282828;
}
header nav .nav-other-screens .nav-contact-us a span {
  margin: 0 10px;
  /* prevent it from turning into an emoji on ios screens */
  font-family: monospace;
  font-weight: bold;
}
header nav .nav-mobile {
  display: none;
}
header nav .nav-other-screens a {
  color: black;
  transition: 0.5s;
}
header nav .nav-other-screens a:hover {
  color: #00aeef;
}
header nav .nav-other-screens .current-page {
  pointer-events: none;
  color: #00aeef;
  border-bottom: 2px solid #00aeef;
}
header .header-content {
  background-color: #00aeef;
  color: white;
}
header .header-content p {
  max-width: 900px;
  margin: 0 auto;
  text-transform: uppercase;
}
header .header-content p span {
  color: #6366F1;
}
header .the-team {
  display: flex;
  flex-direction: row;
}

.LEYARSS-Creatives-Designs {
  background-image: url("../Assets/aboutUs-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  margin: 0;
  border: 1px dashed;
}
.LEYARSS-Creatives-Designs p {
  text-align: center;
  font-size: 40px;
}

section {
  margin: 0;
  padding: 0;
}

/*======The team Section======*/
.the-team {
  display: grid;
  grid-template-columns: 45% auto;
  gap: 80px;
}
.the-team .p1 {
  font-size: 2em;
  line-height: 1.3;
}
.the-team .p2 {
  font-size: 1.5rem;
}
.the-team .p2 b {
  color: transparent;
  background-image: linear-gradient(to right, #EF018D, #6366F1);
  -webkit-background-clip: text;
          background-clip: text;
}
.the-team .p2 span {
  color: #EF018D;
}

/*=======[team-list-container]========*/
.team-list-container {
  display: flex;
  gap: 20px;
  /*.Specialist{
      border:2px dashed rgb(255, 132, 153);
      padding: 10px 0 0 0;
  }*/
}
.team-list-container .team-flex {
  display: flex;
  gap: 25px;
}
.team-list-container .team-flex .person {
  width: 270px;
  height: 326px;
  background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
  border-radius: 30px;
  position: relative;
}
.team-list-container .team-flex .person img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.team-list-container .team-flex .person .person-info {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 15px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 20px;
}
.team-list-container .team-flex .person .person-info p {
  line-height: 0.8;
  color: #213083;
}
.team-list-container .team-flex .person .person-info p span {
  font-size: small;
}
.team-list-container .no-pic {
  width: 100%;
  color: #213083;
}
.team-list-container .no-pic h3 {
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
}
.team-list-container .no-pic .specialist {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
  padding: 15px;
  margin: 15px 0 0 0;
}
.team-list-container .no-pic .specialist .p1 {
  border: 1px dashed #ffffff;
  border-radius: 15px;
  padding: 0 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.85);
}
.team-list-container .no-pic .specialist .p1 p {
  color: #213083;
}
.team-list-container .no-pic .specialist .p1 p span {
  font-size: small;
}

/*======[our-history]======*/
.our-history {
  background-image: url("../Assets/aboutUs-teampic.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 50%;
}
.our-history div img {
  position: fixed;
}
.our-history .title-our-history h1 {
  text-align: left;
  padding: 10px;
}

/*==========[Vision-Mission-img & Content(<p>)]==============*/
.Vision-Mission {
  padding: 200px 0 0 30px;
  margin: 0;
  /*=========[vision-mission-bg-img]===========*/
  /*==========[Vision-Mission-Txt]==========*/
}
.Vision-Mission .Vision-Mission-img {
  position: relative;
}
.Vision-Mission .Vision-Mission-img .shadow {
  position: absolute;
  left: 10px;
  top: -80px;
  mix-blend-mode: overlay;
}
.Vision-Mission .Vision-Mission-img .text2 {
  position: absolute;
  padding: 20px 0 70px 10px;
}
.Vision-Mission .Vision-Mission-img .text2 p {
  padding: 20px 0;
  margin: 0 10% 0 50%;
  font-size: 25px;
  color: #F7F7F7;
}
.Vision-Mission .Vision-Mission-img .Text {
  position: absolute;
  left: 6px;
  top: -190px;
}
.Vision-Mission .Mission-img {
  max-width: 100%;
}
.Vision-Mission .Vision-Mission-text .Vision {
  margin: 10px 0 0 0;
}
.Vision-Mission .Vision-Mission-text .Vision .h4 {
  text-transform: uppercase;
}
.Vision-Mission .Vision-Mission-text .Vision .border p {
  padding: 0 0 20px 0;
  border-bottom: 2px solid #F7F7F7;
}
.Vision-Mission .Vision-Mission-text .Vision p {
  padding: 20px 0 0 0;
}
.Vision-Mission .Vision-Mission-text .Vision p b {
  font-size: 30px;
}
.Vision-Mission .Vision-Mission-text .Mission .h4 {
  text-transform: uppercase;
}
.Vision-Mission .Vision-Mission-text .Mission p {
  padding: 20px 0 0 0;
}
.Vision-Mission .Vision-Mission-text .Mission p b {
  font-size: 30px;
}
.Vision-Mission .Vision-Mission-text img {
  width: 100%;
  margin: 0;
}

/*===========[Building Blocks]============*/
/*.Building-Blocks-section {

    .Building-Blocks{
        text-align: center;
        //border: 1px dashed #6366F1;
        h2{
            font-size: 40px;
        }

        .words {
            div {
                border: 2px solid black;
                width: fit-content;
                border-radius: 30px;

                p {
                    margin: 5px 12px;
                }

                .words-flex {
                    display: grid;
                    grid-template-columns: auto auto;
                }
            }
        }
    }

    .bubbles {
    border-radius: 5px;
    transform: translate(-10%, -8.5%);
    position: absolute;
    width: 110%;
    height: 37pc;
    overflow: hidden;
    pointer-events: none; 
    }
}

.bubble {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    filter: blur(30px);
    animation: animate 15s infinite ease-in-out;
}

@keyframes animate {
    0% { transform: translate(0, 0); }
    25% { transform: translate(75px, 620px); }
    50% { transform: translate(100px, 430px); }
    75% { transform: translate(75px, 660px); }
    100% { transform: translate(0, 0); }

    0% { transform: scale(5); opacity: 0.8; }
    50% { transform: scale(3.5); opacity: 0.2; }
    100% { transform: scale(5); opacity: 0.8; }
}*/
/*==========[About Us Video-section]===========*/
#aboutUs-video video {
  width: 100%;
  border-radius: 30px;
}

/*==========[our-services-section]===========*/
.our-services-section {
  /*==========[our-services-list]===========*/
}
.our-services-section .our-services {
  border: 1px dashed rgb(255, 255, 255);
  text-align: center;
}
.our-services-section .our-services p {
  font-size: 20px;
  background: rgb(255, 255, 255);
  padding: 0 50px;
  position: absolute;
  margin: 25px 250px;
}
.our-services-section .our-services h1 {
  margin: 40px 400px 0 0;
  padding: 40px;
  border: dashed black;
  border-radius: 30px;
  border-width: 5px 5px;
}
.our-services-section .our-services-list {
  display: flex;
}
.our-services-section .our-services-list h3 {
  text-transform: uppercase;
}
.our-services-section .our-services-list li {
  text-transform: uppercase;
  font-size: 20px;
  list-style: outside;
}
.our-services-section .our-services-list .service-list-1 {
  padding: 0 40px 10px 10px;
  margin: 0 95px 0 0;
  border-bottom: 5px solid #EF018D;
}
.our-services-section .our-services-list .service-list-1 li {
  padding: 0 0 30px 0;
  margin: 20px 20px 0 0;
}
.our-services-section .our-services-list .service-list-2 {
  padding: 0 40px 10px 10px;
  margin: 10px 95px 0 0;
  border-bottom: 5px solid #00ADF1;
}
.our-services-section .our-services-list .service-list-2 li {
  padding: 0 0 30px 0;
  margin: 20px 20px 0 0;
}
.our-services-section .our-services-list .service-list-3 {
  padding: 0 40px 10px 10px;
  margin: 10px 95px 20px 0;
  border-bottom: 5px solid #FEF102;
}
.our-services-section .our-services-list .service-list-3 li {
  padding: 0 0 30px 0;
  margin: 20px 20px 0 0;
}
.our-services-section .our-services-list .service-list-4 {
  padding: 0 40px 30px 10px;
  margin: 0 0 0 0;
}
.our-services-section .our-services-list .pg1 {
  padding: 0;
  margin: 0 0 0 auto;
}
.our-services-section .our-services-list .pg1 p {
  font-size: 25px;
}

/*===========[Footer]=============*/
footer {
  background-color: black;
  color: white;
}
footer a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  /* make icons8 inline */
}
footer a:last-child {
  display: inline;
}
footer a:hover {
  font-size: 1rem;
  background-image: linear-gradient(to right, #EF018D, #6366F1);
}
footer .footer-flex {
  display: flex;
}
footer .footer-pink,
footer .footer-blue,
footer .footer-yellow {
  height: 30px;
  width: 100%;
}
footer .footer-pink {
  background-color: #EF018D;
}
footer .footer-blue {
  background-color: #00aeef;
}
footer .footer-yellow {
  background-color: #fcf004;
}
footer .footer-content {
  margin: 50px 100px;
  gap: 30px;
}
footer .footer-content .footer-logo {
  width: 300px;
  margin: 0 auto;
}
footer .footer-content .footer-logo img {
  height: 200px;
}
footer .footer-content .contact-details {
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
footer .footer-content .contact-details span {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
}
footer .footer-logo,
footer .copyright {
  text-align: center;
}
footer .copyright {
  margin: 0;
  padding: 20px;
}

/*=========================[PHONE-FLEX]===========================*/
/*--- MOBILE SCREEN ---*/
@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
    font-size: 12px;
  }
  body h1 {
    font-size: 16px;
    margin: 0;
  }
  body section {
    padding: 10px;
  }
  header .header-content {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  header .header-content h1 {
    text-align: center;
    font-size: 1rem;
  }
  header .header-content p,
  header .header-content button {
    font-size: 0.8rem;
  }
  header .header-content .header-content-mockups img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  header nav .nav-other-screens {
    display: none;
  }
  header nav .nav-mobile {
    display: flex;
    flex-direction: column;
  }
  header nav .nav-mobile .nav-logo-name {
    margin: 0 auto;
  }
  header nav .nav-mobile .nav-logo-name img {
    height: 70px;
  }
  header nav .nav-mobile .nav-icon-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  header nav .nav-mobile .nav-icon-btns div img {
    height: 30px;
  }
  header .header-content {
    border-radius: 20px;
  }
  header .header-content p {
    margin: 10px 20px;
    padding: 0 0 0 0;
    font-size: 10px;
  }
  /*======The team Section======*/ /*NOTE:use max width and shit*/
  .the-team {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .the-team .p1 {
    font-size: small;
    line-height: 1.3;
    padding: 0 10px 0 10px;
    margin: 0;
    text-align: center;
  }
  .the-team .p2 {
    padding: 0 0 0 0;
    margin: 0 10px 20px 10px;
    text-align: justify;
    font-size: small;
  }
  .the-team .p2 b {
    color: transparent;
    background-image: linear-gradient(to right, #EF018D, #6366F1);
    -webkit-background-clip: text;
            background-clip: text;
  }
  .the-team .p2 span {
    color: #EF018D;
  }
  /*=======[team-list-container]========*/
  .team-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .team-list-container .team-flex {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .team-list-container .team-flex .person {
    width: 120px;
    height: 75px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    border-radius: 10px;
    position: relative;
  }
  .team-list-container .team-flex .person img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
  }
  .team-list-container .team-flex .person .person-info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 15px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 10px;
  }
  .team-list-container .team-flex .person .person-info p {
    line-height: 0.8;
    color: #213083;
    font-size: 10px;
  }
  .team-list-container .team-flex .person .person-info p span {
    font-size: xx-small;
  }
  .team-list-container .no-pic {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #213083;
    gap: 1em;
  }
  .team-list-container .no-pic h3 {
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: medium;
    text-align: center;
  }
  .team-list-container .no-pic .specialist {
    flex-direction: row;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    padding: 5px;
    margin: 0 0 0 0;
  }
  .team-list-container .no-pic .specialist .p1 {
    border: 1px dashed #ffffff;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .team-list-container .no-pic .specialist .p1 p {
    color: #213083;
    font-size: 10px;
  }
  .team-list-container .no-pic .specialist .p1 p span {
    font-size: xx-small;
  }
  /*======[our-history]======*/
  .our-history {
    background-image: url("../Assets/aboutUs-teampic-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 0 10px;
  }
  .our-history .title-our-history {
    margin: 200px 0 0 0;
  }
  .our-history .title-our-history h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    padding: 0 0;
  }
  .our-history .history p {
    text-align: left;
    font-size: 1em;
    margin: 0 5px;
    padding: 0;
  }
  .our-history .history span {
    color: #EF018D;
  }
  /*==========[Vision-Mission-img & Content(<p>)]==============*/
  .Vision-Mission {
    padding: 0 8px 0 8px;
    margin: 50px 10px 0 10px;
    /*=========[vision-mission-bg-img]===========*/
    /*==========[Vision-Mission-Txt]==========*/
  }
  .Vision-Mission .Vision-Mission-img {
    position: relative;
    margin-left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .shadow {
    left: 10px;
    top: -20px;
    mix-blend-mode: overlay;
    display: none;
  }
  .Vision-Mission .Vision-Mission-img .text2 {
    padding: 10px 10px 0 0;
    margin: 5px 10px 0 0;
    padding: auto;
    left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .text2 p {
    margin: 0 auto;
  }
  .Vision-Mission .Vision-Mission-img .Text {
    left: 9px;
    top: -55px;
    display: none;
  }
  .Vision-Mission .Mission-img {
    max-width: 100%;
  }
  .Vision-Mission .Vision-Mission-text .Vision {
    display: flex;
  }
  .Vision-Mission .Vision-Mission-text .Vision .h4 {
    text-transform: uppercase;
    font-size: small;
  }
  .Vision-Mission .Vision-Mission-text .Vision .border p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 6px;
  }
  .Vision-Mission .Vision-Mission-text .Vision p {
    font-size: 5px;
  }
  .Vision-Mission .Vision-Mission-text .Vision p b {
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 15px 0 10px;
  }
  .Vision-Mission .Vision-Mission-text .Mission {
    display: flex;
    padding: 10px 0 10px 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Mission p {
    padding: 0 0 0 0;
    font-size: 6px;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission p b {
    font-size: 20px;
    padding: 5px 0 0 0;
    margin: 0 10px 0 0;
  }
  .Vision-Mission .Vision-Mission-text img {
    width: 100%;
  }
  /*==========[our-services-section]===========*/
  .our-services-section {
    /*==========[our-services-list]===========*/
  }
  .our-services-section .our-services {
    border: 1px dashed rgb(255, 255, 255);
    text-align: center;
  }
  .our-services-section .our-services p {
    background: rgb(255, 255, 255);
    font-size: 10px;
    left: 90px;
    position: absolute;
    padding: 0 10px 0 10px;
    margin: 13px 0 0 0;
  }
  .our-services-section .our-services h1 {
    margin: 20px 50px 0 0;
    padding: 20px;
    border: dashed black;
    border-radius: 1em;
    border-width: 3px 3px;
  }
  .our-services-section .our-services-list {
    display: flex;
  }
  .our-services-section .our-services-list h3 {
    text-transform: uppercase;
    font-size: 10px;
  }
  .our-services-section .our-services-list li {
    text-transform: uppercase;
    font-size: 9px;
  }
  .our-services-section .our-services-list .service-list-1 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #EF018D;
  }
  .our-services-section .our-services-list .service-list-1 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-2 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #00ADF1;
  }
  .our-services-section .our-services-list .service-list-2 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-3 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #FEF102;
  }
  .our-services-section .our-services-list .service-list-3 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-4 {
    padding: 0 40px 30px 10px;
    margin: 0 auto 0 10px;
  }
  .our-services-section .our-services-list .pg1 {
    padding: 0;
    margin: 0 20px 0 auto;
  }
  .our-services-section .our-services-list .pg1 p {
    font-size: 15px;
  }
  .our-services-section footer .footer-pink,
  .our-services-section footer .footer-blue,
  .our-services-section footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  .our-services-section footer .footer-content {
    margin: 20px;
    display: block;
  }
  .our-services-section footer .footer-content .footer-logo img {
    height: 8pc;
  }
  .our-services-section footer .footer-content .footer-flex,
  .our-services-section footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
  footer .footer-pink,
  footer .footer-blue,
  footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  footer .footer-content {
    margin: 20px;
    display: block;
  }
  footer .footer-content .footer-logo img {
    height: 8pc;
  }
  footer .footer-content .footer-flex,
  footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
}
/*=========================[PHONE-FLEX]===========================*/
/*--- MOBILE SCREEN ---*/
@media screen and (min-width: 376px) and (max-width: 425px) {
  body {
    font-size: 12px;
  }
  body h1 {
    font-size: 16px;
    margin: 0;
  }
  body section {
    padding: 10px;
  }
  header .header-content {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  header .header-content h1 {
    text-align: center;
    font-size: 1rem;
  }
  header .header-content p,
  header .header-content button {
    font-size: 0.8rem;
  }
  header .header-content .header-content-mockups img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  header nav .nav-other-screens {
    display: none;
  }
  header nav .nav-mobile {
    display: flex;
    flex-direction: column;
  }
  header nav .nav-mobile .nav-logo-name {
    margin: 0 auto;
  }
  header nav .nav-mobile .nav-logo-name img {
    height: 70px;
  }
  header nav .nav-mobile .nav-icon-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  header nav .nav-mobile .nav-icon-btns div img {
    height: 30px;
  }
  header .header-content {
    border-radius: 20px;
  }
  header .header-content p {
    margin: 10px 20px;
    padding: 0 0 0 0;
    font-size: 10px;
  }
  /*======The team Section======*/ /*NOTE:use max width and shit*/
  .the-team {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .the-team .p1 {
    font-size: small;
    line-height: 1.3;
    padding: 0 10px 0 10px;
    margin: 0;
    text-align: center;
  }
  .the-team .p2 {
    padding: 0 0 0 0;
    margin: 0 10px 20px 10px;
    text-align: justify;
    font-size: small;
  }
  .the-team .p2 b {
    color: transparent;
    background-image: linear-gradient(to right, #EF018D, #6366F1);
    -webkit-background-clip: text;
            background-clip: text;
  }
  .the-team .p2 span {
    color: #EF018D;
  }
  /*=======[team-list-container]========*/
  .team-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .team-list-container .team-flex {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .team-list-container .team-flex .person {
    width: 150px;
    height: 167px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    border-radius: 10px;
    position: relative;
  }
  .team-list-container .team-flex .person img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .team-list-container .team-flex .person .person-info {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 15px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 10px;
  }
  .team-list-container .team-flex .person .person-info p {
    line-height: 0.8;
    color: #213083;
    font-size: 10px;
  }
  .team-list-container .team-flex .person .person-info p span {
    font-size: 8px;
  }
  .team-list-container .no-pic {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #213083;
    gap: 1em;
  }
  .team-list-container .no-pic h3 {
    text-transform: uppercase;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: medium;
    text-align: center;
  }
  .team-list-container .no-pic .specialist {
    flex-direction: row;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    padding: 5px;
    margin: 0 0 0 0;
  }
  .team-list-container .no-pic .specialist .p1 {
    border: 1px dashed #ffffff;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .team-list-container .no-pic .specialist .p1 p {
    color: #213083;
    font-size: 10px;
  }
  .team-list-container .no-pic .specialist .p1 p span {
    font-size: xx-small;
  }
  /*======[our-history]======*/
  .our-history {
    background-image: url("../Assets/aboutUs-teampic-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 0 10px;
  }
  .our-history .title-our-history {
    margin: 200px 0 0 0;
  }
  .our-history .title-our-history h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    padding: 0 0;
  }
  .our-history .history p {
    text-align: left;
    font-size: 1em;
    margin: 0 5px;
    padding: 0;
  }
  .our-history .history span {
    color: #EF018D;
  }
  /*==========[Vision-Mission-img & Content(<p>)]==============*/
  .Vision-Mission {
    padding: 0 8px 0 8px;
    margin: 50px 10px 0 10px;
    /*=========[vision-mission-bg-img]===========*/
    /*==========[Vision-Mission-Txt]==========*/
  }
  .Vision-Mission .Vision-Mission-img {
    position: relative;
    margin-left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .shadow {
    left: 10px;
    top: -20px;
    mix-blend-mode: overlay;
    display: none;
  }
  .Vision-Mission .Vision-Mission-img .text2 {
    padding: 10px 10px 0 0;
    margin: 5px 10px 0 0;
    padding: auto;
    left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .text2 p {
    margin: 0 auto;
  }
  .Vision-Mission .Vision-Mission-img .Text {
    left: 9px;
    top: -55px;
    display: none;
  }
  .Vision-Mission .Mission-img {
    max-width: 100%;
  }
  .Vision-Mission .Vision-Mission-text .Vision {
    display: flex;
  }
  .Vision-Mission .Vision-Mission-text .Vision .h4 {
    text-transform: uppercase;
    font-size: small;
  }
  .Vision-Mission .Vision-Mission-text .Vision .border p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 9px;
  }
  .Vision-Mission .Vision-Mission-text .Vision p {
    font-size: 10px;
  }
  .Vision-Mission .Vision-Mission-text .Vision p b {
    font-size: 33px;
    padding: 10px 0 0 0;
    margin: 0 35px 0 10px;
  }
  .Vision-Mission .Vision-Mission-text .Mission {
    display: flex;
    padding: 10px 0 10px 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Mission p {
    padding: 0 0 0 0;
    font-size: 9px;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission p b {
    font-size: 33px;
    padding: 10px 0 0 0;
    margin: 0 20px 0 0;
  }
  .Vision-Mission .Vision-Mission-text img {
    width: 100%;
  }
  /*==========[our-services-section]===========*/
  .our-services-section {
    /*==========[our-services-list]===========*/
  }
  .our-services-section .our-services {
    border: 1px dashed rgb(255, 255, 255);
    text-align: center;
  }
  .our-services-section .our-services p {
    background: rgb(255, 255, 255);
    font-size: 10px;
    left: 125px;
    position: absolute;
    padding: 0 10px 0 10px;
    margin: 13px 0 0 0;
  }
  .our-services-section .our-services h1 {
    margin: 20px 110px 0 0;
    padding: 20px;
    border: dashed black;
    border-radius: 1em;
    border-width: 3px 3px;
  }
  .our-services-section .our-services-list {
    display: flex;
  }
  .our-services-section .our-services-list h3 {
    text-transform: uppercase;
    font-size: 15px;
  }
  .our-services-section .our-services-list li {
    text-transform: uppercase;
    font-size: 11px;
  }
  .our-services-section .our-services-list .service-list-1 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #EF018D;
  }
  .our-services-section .our-services-list .service-list-1 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-2 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #00ADF1;
  }
  .our-services-section .our-services-list .service-list-2 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-3 {
    padding: 0 40px 10px 10px;
    margin: 0 auto 0 10px;
    border-bottom: 3px solid #FEF102;
  }
  .our-services-section .our-services-list .service-list-3 li {
    padding: 0 0 0 0;
    margin: 0 25px 0 0;
  }
  .our-services-section .our-services-list .service-list-4 {
    padding: 0 40px 30px 10px;
    margin: 0 auto 0 10px;
  }
  .our-services-section .our-services-list .pg1 {
    padding: 0;
    margin: 0 20px 0 auto;
  }
  .our-services-section .our-services-list .pg1 p {
    font-size: 15px;
  }
  .our-services-section footer .footer-pink,
  .our-services-section footer .footer-blue,
  .our-services-section footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  .our-services-section footer .footer-content {
    margin: 20px;
    display: block;
  }
  .our-services-section footer .footer-content .footer-logo img {
    height: 8pc;
  }
  .our-services-section footer .footer-content .footer-flex,
  .our-services-section footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
  footer .footer-pink,
  footer .footer-blue,
  footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  footer .footer-content {
    margin: 20px;
    display: block;
  }
  footer .footer-content .footer-logo img {
    height: 8pc;
  }
  footer .footer-content .footer-flex,
  footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
}
/*==================[Large Mobile]=====================*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  body h1 {
    font-size: 16px;
    margin: 0;
  }
  body section {
    padding: 10px;
  }
  header .header-content {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  header .header-content h1 {
    text-align: center;
    font-size: 1rem;
  }
  header .header-content p,
  header .header-content button {
    font-size: 0.8rem;
  }
  header .header-content .header-content-mockups img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  header nav .nav-other-screens {
    display: none;
  }
  header nav .nav-mobile {
    display: flex;
    flex-direction: column;
  }
  header nav .nav-mobile .nav-logo-name {
    margin: 0 auto;
  }
  header nav .nav-mobile .nav-logo-name img {
    height: 70px;
  }
  header nav .nav-mobile .nav-icon-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  header nav .nav-mobile .nav-icon-btns div img {
    height: 30px;
  }
  header .header-content {
    background-color: #00aeef;
    color: white;
  }
  header .header-content p {
    margin: 40px 20px;
    text-transform: uppercase;
    font-size: 1em;
  }
  header .header-content p span {
    color: #ffffff;
  }
  /*======The team Section======*/ /*NOTE:use max width and shit*/
  .the-team {
    display: grid;
    grid-template-columns: 45% auto;
    gap: 30px;
  }
  .the-team .p1 {
    font-size: 2em;
    line-height: 1.3;
    padding: 0 20px 0 20px;
    margin: 70px 0 30px 0;
  }
  .the-team .p2 {
    padding: 20px 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  .the-team .p2 b {
    color: transparent;
    background-image: linear-gradient(to right, #EF018D, #6366F1);
    -webkit-background-clip: text;
            background-clip: text;
  }
  .the-team .p2 span {
    color: #EF018D;
  }
  /*=======[team-list-container]========*/
  .team-list-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 10px 0 40px 0;
    /*.Specialist{
        border:2px dashed rgb(255, 132, 153);
        padding: 10px 0 0 0;
    }*/
  }
  .team-list-container .team-flex {
    display: flex;
    gap: 20px;
  }
  .team-list-container .team-flex .person {
    width: 375px;
    height: 250px;
    border-radius: 15px;
    flex-wrap: wrap;
  }
  .team-list-container .team-flex .person img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .team-list-container .team-flex .person .person-info {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px 0 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 15px;
  }
  .team-list-container .team-flex .person .person-info p {
    line-height: 0.8;
    color: #213083;
    font-size: medium;
  }
  .team-list-container .team-flex .person .person-info p span {
    font-size: small;
  }
  .team-list-container .no-pic {
    width: 100%;
    color: #213083;
    display: flex;
  }
  .team-list-container .no-pic h3 {
    text-transform: uppercase;
    margin: 40px 30px 0 20px;
    font-size: medium;
    text-align: center;
  }
  .team-list-container .no-pic .specialist {
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    padding: 9px 9px 9px 9px;
    margin: 10px;
  }
  .team-list-container .no-pic .specialist .p1 {
    border: 1px dashed #ffffff;
    border-radius: 15px;
    padding: 0 15px 0 5px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .team-list-container .no-pic .specialist .p1 p {
    color: #213083;
    font-size: medium;
  }
  .team-list-container .no-pic .specialist .p1 p span {
    font-size: small;
  }
  /*======[our-history]======*/
  .our-history {
    background-image: url("../Assets/aboutUs-teampic-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 0 10px 0 10px;
  }
  .our-history .title-our-history {
    margin: 350px 0 0 0;
  }
  .our-history .title-our-history h1 {
    text-align: center;
    font-size: 2em;
  }
  .our-history .history p {
    font-size: 1.5em;
    margin: 20px;
  }
  .our-history .history p span {
    color: #EF018D;
  }
  /*==========[Vision-Mission-img & Content(<p>)]==============*/
  .Vision-Mission {
    padding: 0 8px 0 8px;
    margin: 50px 10px 0 10px;
    /*=========[vision-mission-bg-img]===========*/
    /*==========[Vision-Mission-Txt]==========*/
  }
  .Vision-Mission .Vision-Mission-img {
    position: relative;
    margin: 0 0 0 10px;
  }
  .Vision-Mission .Vision-Mission-img .shadow {
    left: 10px;
    top: -20px;
    mix-blend-mode: overlay;
    display: none;
  }
  .Vision-Mission .Vision-Mission-img .text2 {
    padding: 20px 30px 0 0;
    margin: 5px 10px 0 0;
    padding: auto;
    left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .text2 p {
    margin: 0 auto;
  }
  .Vision-Mission .Vision-Mission-img .Text {
    left: 9px;
    top: -55px;
    display: none;
  }
  .Vision-Mission .Mission-img {
    max-width: 100%;
  }
  .Vision-Mission .Vision-Mission-text .Vision {
    display: flex;
  }
  .Vision-Mission .Vision-Mission-text .Vision .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Vision .border p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 1.5em;
  }
  .Vision-Mission .Vision-Mission-text .Vision p {
    font-size: 2em;
  }
  .Vision-Mission .Vision-Mission-text .Vision p b {
    font-size: 2em;
    padding: 20px 0 0 0;
    margin: 0 75px 0 20px;
  }
  .Vision-Mission .Vision-Mission-text .Mission {
    display: flex;
    padding: 10px 0 10px 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Mission p {
    padding: 0 0 0 0;
    font-size: 1.5em;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission p b {
    font-size: 3em;
    padding: 20px 0 0 0;
    margin: 0 35px 0 0;
  }
  .Vision-Mission .Vision-Mission-text img {
    width: 100%;
  }
  /*===========[Building Blocks]============*/
  .Building-Blocks {
    text-align: center;
  }
  .Building-Blocks h2 {
    font-size: 20px;
  }
  /*==========[our-services-section]===========*/
  .our-services-section {
    /*==========[our-services-list]===========*/
  }
  .our-services-section .our-services {
    border: 1px dashed rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 0 10px;
  }
  .our-services-section .our-services p {
    font-size: 20px;
    background: rgb(255, 255, 255);
    padding: 0 30px;
    position: absolute;
    margin: 25px 220px;
  }
  .our-services-section .our-services h1 {
    margin: 40px 110px 0 0;
    padding: 40px 0 40px 0;
    border: dashed black;
    font-size: 2.5em;
    border-radius: 1em;
    border-width: 5px 5px;
  }
  .our-services-section .our-services-list {
    display: flex;
  }
  .our-services-section .our-services-list h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
  .our-services-section .our-services-list li {
    text-transform: uppercase;
    font-size: 15px;
  }
  .our-services-section .our-services-list .service-list-1 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-1 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-2 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-2 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-3 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-3 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-4 {
    padding: 0 40px 30px 10px;
    margin: 0 0 0 10px;
  }
  .our-services-section .our-services-list .pg1 {
    padding: 0;
    margin: 0 20px 0 auto;
  }
  .our-services-section .our-services-list .pg1 p {
    font-size: 20px;
  }
  footer .footer-pink,
  footer .footer-blue,
  footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  footer .footer-content {
    margin: 20px;
    display: block;
  }
  footer .footer-content .footer-logo img {
    height: 8pc;
  }
  footer .footer-content .footer-flex,
  footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
  }
}
/*=========================[TABLET-FLEX]===========================*/
/* --- TABLET --- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
  body h1 {
    font-size: 16px;
    margin: 0;
  }
  body section {
    padding: 10px;
  }
  header nav .nav-other-screens .nav-contact-us a {
    padding: 10px;
    padding-left: 20px;
  }
  header nav .nav-other-screens .nav-contact-us span {
    margin: 0;
  }
  footer .footer-content {
    margin: 30px;
    gap: 10px;
  }
  .header-content {
    background-color: #00aeef;
    color: white;
  }
  .header-content p {
    margin: 40px 20px;
    text-transform: uppercase;
    font-size: 1em;
  }
  .header-content p span {
    color: #ffffff;
  }
  /*======The team Section======*/ /*NOTE:use max width and shit*/
  .the-team {
    display: grid;
    grid-template-columns: 45% auto;
    gap: 30px;
  }
  .the-team .p1 {
    font-size: 2em;
    line-height: 1.3;
    padding: 0 20px 0 20px;
    margin: 70px 0 30px 0;
  }
  .the-team .p2 {
    padding: 20px 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 1.5em;
  }
  .the-team .p2 b {
    color: transparent;
    background-image: linear-gradient(to right, #EF018D, #6366F1);
    -webkit-background-clip: text;
            background-clip: text;
  }
  .the-team .p2 span {
    color: #EF018D;
  }
  /*=======[team-list-container]========*/
  .team-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0 40px 0;
    /*.Specialist{
        border:2px dashed rgb(255, 132, 153);
        padding: 10px 0 0 0;
    }*/
  }
  .team-list-container .team-flex {
    display: flex;
    gap: 20px;
  }
  .team-list-container .team-flex .person {
    width: 325px;
    height: 290px;
    border-radius: 15px;
    flex-wrap: wrap;
  }
  .team-list-container .team-flex .person img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .team-list-container .team-flex .person .person-info {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px 0 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 15px;
  }
  .team-list-container .team-flex .person .person-info p {
    line-height: 0.8;
    color: #213083;
    font-size: small;
  }
  .team-list-container .team-flex .person .person-info p span {
    font-size: x-small;
  }
  .team-list-container .no-pic {
    width: 100%;
    color: #213083;
    display: flex;
  }
  .team-list-container .no-pic h3 {
    text-transform: uppercase;
    margin: 35px 50px 10px 20px;
    font-size: medium;
    text-align: center;
  }
  .team-list-container .no-pic .specialist {
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #F7F7F7 50%, #E3E4E7, #A5B5DB);
    padding: 9px;
    margin: 10px;
  }
  .team-list-container .no-pic .specialist .p1 {
    border: 1px dashed #ffffff;
    border-radius: 15px;
    padding: 0 5px 0 5px;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .team-list-container .no-pic .specialist .p1 p {
    color: #213083;
    font-size: medium;
  }
  .team-list-container .no-pic .specialist .p1 p span {
    font-size: small;
  }
  /*======[our-history]======*/
  .our-history {
    background-image: url("../Assets/aboutUs-teampic-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin: 0 10px 0 10px;
  }
  .our-history .title-our-history {
    margin-top: 250px;
  }
  .our-history .title-our-history h1 {
    text-align: center;
    font-size: 2em;
  }
  .our-history .history p {
    font-size: 1.5em;
    text-align: left;
    margin: 10px;
  }
  .our-history .history p span {
    color: #EF018D;
  }
  /*==========[Vision-Mission-img & Content(<p>)]==============*/
  .Vision-Mission {
    padding: 0 8px 0 8px;
    margin: 50px 10px 0 10px;
    /*=========[vision-mission-bg-img]===========*/
    /*==========[Vision-Mission-Txt]==========*/
  }
  .Vision-Mission .Vision-Mission-img {
    position: relative;
    margin: 0 0 0 10px;
  }
  .Vision-Mission .Vision-Mission-img .shadow {
    left: 10px;
    top: -20px;
    mix-blend-mode: overlay;
    display: none;
  }
  .Vision-Mission .Vision-Mission-img .text2 {
    padding: 50px 30px 0 0;
    margin: 5px 10px 0 0;
    padding: auto;
    left: 10px;
  }
  .Vision-Mission .Vision-Mission-img .text2 p {
    margin: 0 auto;
  }
  .Vision-Mission .Vision-Mission-img .Text {
    left: 9px;
    top: -55px;
    display: none;
  }
  .Vision-Mission .Mission-img {
    max-width: 100%;
  }
  .Vision-Mission .Vision-Mission-text .Vision {
    display: flex;
  }
  .Vision-Mission .Vision-Mission-text .Vision .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Vision .border p {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 2em;
  }
  .Vision-Mission .Vision-Mission-text .Vision p {
    font-size: 2em;
  }
  .Vision-Mission .Vision-Mission-text .Vision p b {
    font-size: 3em;
    padding: 20px 35px 0 0;
    margin: 0 70px 0 20px;
  }
  .Vision-Mission .Vision-Mission-text .Mission {
    display: flex;
    padding: 10px 0 10px 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission .h4 {
    text-transform: uppercase;
  }
  .Vision-Mission .Vision-Mission-text .Mission p {
    padding: 0 0 0 0;
    font-size: 2em;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .Vision-Mission .Vision-Mission-text .Mission p b {
    font-size: 3em;
    padding: 30px 0 0 20px;
    margin: 0 50px 0 0;
  }
  .Vision-Mission .Vision-Mission-text img {
    width: 100%;
  }
  /*===========[Building Blocks]============*/
  .Building-Blocks {
    text-align: center;
  }
  .Building-Blocks h2 {
    font-size: 20px;
  }
  /*==========[our-services-section]===========*/
  .our-services-section {
    /*==========[our-services-list]===========*/
  }
  .our-services-section .our-services {
    border: 1px dashed rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 0 10px;
  }
  .our-services-section .our-services p {
    font-size: 20px;
    background: rgb(255, 255, 255);
    padding: 0 30px;
    left: 150px;
    position: absolute;
    margin: 25px 220px;
  }
  .our-services-section .our-services h1 {
    margin: 40px 110px 0 0;
    padding: 40px 0 40px 0;
    border: dashed black;
    font-size: 2.5em;
    border-radius: 1em;
    border-width: 5px 5px;
  }
  .our-services-section .our-services-list {
    display: flex;
  }
  .our-services-section .our-services-list h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
  .our-services-section .our-services-list li {
    text-transform: uppercase;
    font-size: 15px;
  }
  .our-services-section .our-services-list .service-list-1 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-1 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-2 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-2 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-3 {
    padding: 0 40px 10px 10px;
    margin: 0 60px 0 10px;
  }
  .our-services-section .our-services-list .service-list-3 li {
    padding: 0 0 5px 0;
    margin: 20px 20px 0 0;
  }
  .our-services-section .our-services-list .service-list-4 {
    padding: 0 40px 30px 10px;
    margin: 0 0 0 10px;
  }
  .our-services-section .our-services-list .pg1 {
    padding: 0;
    margin: 0 20px 0 auto;
  }
  .our-services-section .our-services-list .pg1 p {
    font-size: 20px;
  }
}
/* --- DESKTOP --- */
@media screen and (min-width: 1024px) {
  .our-history .history p {
    margin: 0 40em 0 0;
    padding: 0;
  }
  .our-history .history p span {
    color: #EF018D;
  }
}
/* --- LARGE DESKTOP --- */
@media screen and (min-width: 1281px) {
  /* large screen styles */
}/*# sourceMappingURL=aboutUs.css.map */