/*=====Fonts=====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /*Poppins font*/
/*=====Style Variables=====*/
/*--- OTHER SCREENS ---*/
/*--- MOBILE ---*/
/*======Body Style=====*/
/*==========Header Style==========*/
/*======Nav Style=====*/
/*======Footer Style=====*/
/*======Back to top btn Style=====*/
/*--- MOBILE SCREEN ---*/
/*--- TABLET SCREEN ---*/
/*scroll behavior for back to top btn*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
body h1 {
  text-align: center;
  font-size: 3.125rem;
  margin: 0;
}
body section {
  padding: 50px 100px;
}
body button {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: black;
  border: none;
}
body #btn-backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #282828;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

header {
  margin: 10px;
  /*heading paragraph & product img*/
}
header .header-content {
  border-radius: 60px;
  padding: 80px;
  font-size: 1.5rem;
  text-align: center;
}
header nav {
  /*hide mobile nav*/
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
header nav .nav-other-screens {
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
header nav .nav-other-screens .nav-logo-name {
  margin-right: auto;
}
header nav .nav-other-screens .nav-logo-name img {
  height: 70px;
  padding: 10px 0;
}
header nav .nav-other-screens .nav-logo-name p {
  line-height: 1;
}
header nav .nav-other-screens .nav-contact-us a {
  color: white;
}
header nav .nav-other-screens .nav-general {
  width: 50%;
  justify-content: space-evenly;
}
header nav .nav-other-screens .nav-contact-us {
  margin-left: auto;
}
header nav .nav-other-screens .nav-contact-us a {
  padding: 10px 15px 10px 30px;
  border-radius: 80px;
  background-color: #282828;
}
header nav .nav-other-screens .nav-contact-us a span {
  margin: 0 10px;
  /* prevent it from turning into an emoji on ios screens */
  font-family: monospace;
  font-weight: bold;
}
header nav .nav-mobile {
  display: none;
}
header nav .nav-other-screens a {
  color: black;
  transition: 0.5s;
}
header nav .nav-other-screens a:hover {
  color: #EF018D;
  border-bottom: 2px solid #EF018D;
}
header nav .nav-other-screens .current-page {
  background-color: #EF018D;
  padding: 5px;
  border-radius: 10px;
  color: white;
  pointer-events: none;
}
header .header-content {
  background: linear-gradient(#EF018D 70%, #12182E 30%);
  display: flex;
  padding: 80px 70px 0;
  text-align: left;
}
header .header-content h1 {
  line-height: 1;
  text-align: left;
}
header .header-content h1, header .header-content p, header .header-content a {
  color: white;
}
header .header-content button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 15px 10px 15px 30px;
  border-radius: 80px;
  background-color: #FFF200;
  cursor: pointer;
}
header .header-content button span {
  color: rgb(0, 0, 0);
  margin-left: 15px;
  padding: 6px 12px;
  border-radius: 80px;
  background-color: white;
  /* prevent it from turning into an emoji on ios screens */
  font-family: monospace;
  font-weight: bold;
}
header .header-content .header-content-mockups img {
  height: 450px;
}

/*=====Why choose us Section=====*/
#why-choose-us h1 {
  margin-bottom: 30px;
}
#why-choose-us .why-choose-1,
#why-choose-us .why-choose-2,
#why-choose-us .why-choose-3 {
  max-width: 700px;
  margin: 0 auto 40px;
  border-radius: 20px;
  padding: 30px 50px 80px;
  rotate: -6deg;
}
#why-choose-us .why-choose-1 p,
#why-choose-us .why-choose-2 p,
#why-choose-us .why-choose-3 p {
  margin: 0 80px 0;
}
#why-choose-us .why-choose-1 {
  background-color: #f699d0;
}
#why-choose-us .why-choose-2 {
  background-color: #99dff9;
  rotate: 6deg;
}
#why-choose-us .why-choose-3 {
  background-color: #fff766;
}

/*======Our Projects Section======*/
#our-proj {
  background-image: url("../Assets/our-proj-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
#our-proj .prods-container {
  margin: 50px 0 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
#our-proj .prods-container .prod-card {
  background-color: white;
  border-radius: 15px;
  padding-top: 50px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
#our-proj button {
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #EF018D;
  color: white;
}

/*======What our customers say Section======*/
#client-feed .splide {
  /* so it doesn't overlap with the slides */
}
#client-feed .splide .splide__slide {
  max-width: 600px;
  text-align: center;
  margin: 20px 10px 40px;
  padding: 20px;
  border: 0.3px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
}
#client-feed .splide .splide__arrow {
  background-color: transparent;
  top: 45%;
}
#client-feed .splide .splide__arrow--prev {
  transform: translateX(-150%);
}
#client-feed .splide .splide__arrow--next {
  transform: translateX(150%);
}
#client-feed .splide .splide__pagination__page {
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 0.7;
  transition: background-color 0.3s, transform 0.3s;
}
#client-feed .splide .splide__pagination__page.is-active {
  background-color: #EF018D;
}

/*======Footer Section======*/
footer {
  background-color: black;
  color: white;
}
footer a {
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  /* make icons8 inline */
}
footer a:last-child {
  display: inline;
}
footer a:hover {
  font-size: 1rem;
  background-image: linear-gradient(to right, #EF018D, #6366F1);
}
footer .footer-flex {
  display: flex;
}
footer .footer-pink,
footer .footer-blue,
footer .footer-yellow {
  height: 30px;
  width: 100%;
}
footer .footer-pink {
  background-color: #EF018D;
}
footer .footer-blue {
  background-color: #00aeef;
}
footer .footer-yellow {
  background-color: #FFF200;
}
footer .footer-content {
  margin: 50px 100px;
  gap: 30px;
}
footer .footer-content .footer-logo {
  width: 300px;
  margin: 0 auto;
}
footer .footer-content .footer-logo img {
  height: 200px;
}
footer .footer-content .contact-details {
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
footer .footer-content .contact-details span {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
}
footer .footer-logo,
footer .copyright {
  text-align: center;
}
footer .copyright {
  margin: 0;
  padding: 20px;
}

/*--- MOBILE ---*/
@media screen and (min-width: 319px) and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  body h1 {
    font-size: 16px;
    margin: 0;
  }
  body section {
    padding: 10px;
  }
  header .header-content {
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  header .header-content h1 {
    text-align: center;
    font-size: 1rem;
  }
  header .header-content p,
  header .header-content button {
    font-size: 0.8rem;
  }
  header .header-content .header-content-mockups img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  header nav {
    padding: 10px 0;
  }
  header nav .nav-other-screens {
    display: none;
  }
  header nav .nav-mobile {
    display: flex;
    flex-direction: column;
  }
  header nav .nav-mobile .nav-logo-name {
    margin: 0 auto;
  }
  header nav .nav-mobile .nav-logo-name img {
    height: 70px;
  }
  header nav .nav-mobile .nav-icon-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  header nav .nav-mobile .nav-icon-btns div img {
    height: 30px;
  }
  header nav .nav-mobile .nav-icon-btns div img:hover {
    background-color: #00aeef;
  }
  header .header-content {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(#EF018D 30%, #12182E, #12182E 70%);
  }
  #why-choose-us .why-choose-1,
  #why-choose-us .why-choose-2,
  #why-choose-us .why-choose-3 {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 10px 20px;
  }
  #why-choose-us .why-choose-1 img,
  #why-choose-us .why-choose-2 img,
  #why-choose-us .why-choose-3 img {
    height: 30px;
    border-radius: 10px;
  }
  #why-choose-us .why-choose-1 p,
  #why-choose-us .why-choose-2 p,
  #why-choose-us .why-choose-3 p {
    margin: 0 30px 0;
  }
  #our-proj {
    background-size: cover;
  }
  #our-proj .prods-container {
    margin: 30px 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
  #our-proj .prods-container .prod-card {
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  #our-proj .prods-container .prod-card img {
    width: 100%;
  }
  #our-proj .prods-container .prod-card p {
    margin: 0;
  }
  #our-proj button {
    padding: 15px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
  }
  #client-feed .splide {
    /* so it doesn't overlap with the slides */
  }
  #client-feed .splide .splide__arrow--prev,
  #client-feed .splide .splide__arrow--next {
    display: none;
  }
  footer .footer-pink,
  footer .footer-blue,
  footer .footer-yellow {
    height: 15px;
    width: 100%;
  }
  footer .footer-content {
    margin: 20px;
    display: block;
  }
  footer .footer-content .footer-logo img {
    height: 8pc;
  }
  footer .footer-content .footer-flex,
  footer .footer-content .contact-details {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  footer .footer-flex.contact-details {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
}
/* --- TABLET --- */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body h1 {
    font-size: 2.5rem; /*decrease font-size by 20%*/
  }
  body section {
    padding: 35px 70px;
  }
  header nav .nav-other-screens .nav-contact-us a {
    padding: 10px;
    padding-left: 20px;
  }
  header nav .nav-other-screens .nav-contact-us span {
    margin: 0;
  }
  header .header-content {
    border-radius: 40px;
    padding: 2.5rem 2.188rem 0;
    font-size: 2vw;
  }
  header .header-content h1 {
    font-size: xx-large;
  }
  header .header-content .header-content-mockups img {
    height: 290px;
    max-height: 350px;
  }
  #our-proj .prods-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
  }
  #our-proj .prods-container .prod-card {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  }
  #our-proj .prods-container .prod-card img {
    width: auto;
    height: 250px;
  }
  footer .footer-content {
    margin: 30px;
    gap: 10px;
  }
}
/* --- DESKTOP --- */
@media screen and (min-width: 1025px) {
  header .header-content p {
    width: 450px;
  }
  #our-proj .prods-container .prod-card img {
    width: auto;
    height: 300px;
    border-radius: 15px;
  }
}
/* --- LARGE DESKTOP --- *//*# sourceMappingURL=index.css.map */