@import 'variables'; //importing the variables

body {
    @include bodyStyle;
}

header {
    @include headerStyle;

    nav {
        @include navStyle;
        
        .nav-other-screens {
            a {
                color: black;
                transition: 0.5s;
            }
            
            a:hover {
                    color: $yellow;
                }

                .current-page {
                pointer-events: none;
                color: $yellow;
                border-bottom: 2px solid $yellow;
            }

            //background-image: url('../Assets/projects-nav-bg.png');
            //border: 1px blue dashed;
        }
    }

    .header-content {
        background-color: #fcf004;
        font-size: $headerFontSize;

        h1 {
            margin: 0;
        }

        p {
            max-width: 900px;
            margin: 0 auto;
        }
    }
}

/*=====Works Section=====*/
#works {
    .filter-dropdown {
        position: relative;

        .filter-btn {
            z-index: 100;
            width: 100%;
            text-align: left;
            padding: 5px 10px;
            background-color: $pink;
            color: white;
        }

        div {
            background-color: black;
            color: white;
        }

        .dropdown-content {
            display: none;
            width: fit-content;
            z-index: 100;

            div {
                padding: 5px 10px;
                border-top: 2px solid white;
                cursor: pointer;
            }
        }

        .show {
            display: block;
            position: absolute;
        }

        #dropdown1 {
            background-color: $pink;
        }

        #dropdown2 {
            background-color: $blue;
        }

        #dropdown3 {
            background-color: $yellow;
            color: black;
        }
    }
    
    .work {
        text-align: center;

        .splide {
            text-align: left;
            max-width: 100%;
            position: relative; // Needed for absolute arrows to position correctly

            .splide__slide {
                // border: 1px dashed black; 
                background-color: white;
                margin: 13px;
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

                img {
                    width: 100%;
                    margin: auto 0;
                }

                p {
                    font-weight: 600;
                }

                button {
                    padding: 7px 20px;
                    border: 1px solid black;
                    border-radius: 60px;
                    background-color: white;

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }

            .splide__arrow--prev,
            .splide__arrow--next {
                background-color: $lightblack;
                svg {
                    fill: white;
                }
                // pointer-events: none;
            }

            .splide__arrow--prev {
                transform: translateX(-150%);
            }

            .splide__arrow--next {
                transform: translateX(170%);
            }

            #moreImages {
                display: none;

                .splide__slide {
                    display:inline-block;
                    background-color: white;
                    margin: 10px;
                    padding: 20px;
                    border-radius: 15px;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
                    min-width: auto;

                    img {
                        width: auto;
                        height: 350px;
                    }
                }

                .moreBtn {
                    padding: 10px 20px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }           
        }

        .all-works {
            display: none; /* hidden by default for desktop/tablet */
            grid-template-columns: auto auto auto;
            text-align: left;
            
            .slide {
                /* border: 1px dashed black;  */
                background-color: white;
                margin: 13px;
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    
                img {
                    width: 100%;
                    margin: auto 0;
                }
    
                p {
                    font-weight: 600;
                }
    
                button {
                    padding: 7px 20px;
                    border: 1px solid black;
                    border-radius: 60px;
                    background-color: white;
    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        .moreBtn {
            background-color: $pink;
            color: white;
            padding: 10px;
            border-radius: 10px;
            margin: 10px auto;
            cursor: pointer;
        }
    }

    #event,
    #print,
    #proddesign {
        display: none;
    }
}

/*=====Footer Section=====*/
footer {
    @include footerStyle;
}


/*--- MOBILE ---*/
@media screen and (max-width: 768px) {
    body {
        @include bodyStyle-Mobile;
    }

    header {
        @include headerStyle-Mobile;

        nav {
            @include navStyle-Mobile;
        }

        .header-content {
            p {
                margin: 20px;
            }
        }
    }

    #works {
        .work {
            padding: 20px 0;
            display: flex;
            gap: 20px;
            overflow-x: auto;
    
            img {
                display: block;
                height: 200px;
            }
    
            button {
                border: 1px solid black;
                border-radius: 60px;
                background-color: white;
                font-size: $allTextFontSize-Mobile;
            }

            /*hide splide and show more btn on mobile*/
            .splide,
            .moreBtn {
                display: none;
            }

            .all-works {
                display: block;
                margin: 0 auto;
            }
        }
    }

    footer {
        @include footerStyle-Mobile;
    }
}

/* --- TABLET --- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        section {
            padding: 25px;
        }
    }
    
    header {    
        nav {
            @include navStyleTablet;
        }
    }

    #works {
        .work {
            .splide {
                // no splide arrows for tablet
                .splide__arrow--prev,
                .splide__arrow--next {
                    display: none;
                }
            }

            .all-works {
                display: grid;
                grid-template-columns: auto auto;
                gap:20px;
            }
        }
    }

    footer {
        @include footerStyleTablet;
    }
}

/* --- DESKTOP --- */
@media screen and (min-width: 1024px) {
  /* desktop styles */
}

/* --- LARGE DESKTOP --- */
@media screen and (min-width: 1280px) {
  /* large screen styles */
}