/*=====Fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Poppins font*/

/*=====Style Variables=====*/
$blue: #00aeef;
$pink: #EF018D;
$yellow: #FFF200;
$lightblack: #282828;
$webFont: "Poppins", sans-serif;

/*--- OTHER SCREENS ---*/
$headerFontSize: 1.5rem; //(24px)
$h1FontSize: 3.125rem; //(50px)
$allTextFontSize: 1.1rem; //(17.6px)
$footerFontSize: 1rem; //(16px)
$sectionPaddingTB: 50px;
$sectionPaddingLR: 100px;

/*--- MOBILE ---*/
$headerFontSize-Mobile: 20px;
$h1FontSize-Mobile: 16px;
$allTextFontSize-Mobile: 12px;

/*======Body Style=====*/
@mixin bodyStyle {
    margin: 0;
    overflow-x: hidden;
    
    font-family: $webFont;
    font-size: $allTextFontSize;

    h1 {
        text-align: center;
        font-size: $h1FontSize;
        margin: 0;
    }

    section {
        padding: $sectionPaddingTB $sectionPaddingLR;
        //border: 1px dashed green;
    }

    button {
        font-family: $webFont;
        font-size: $allTextFontSize;
        color: black;
        border: none;
    }
}

/*==========Header Style==========*/
@mixin headerStyle {
    margin: 10px;

    .header-content {
        border-radius: 60px;
        padding: 80px;
        font-size: $headerFontSize;
        text-align: center;
    }
}

/*======Nav Style=====*/
@mixin navStyle {
    a {
        color: white;
        text-decoration: none;
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-other-screens {
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        font-weight: bold;
        font-size: $allTextFontSize;
        display: flex;
        align-items: center;
        padding: 0 20px;
    
        .nav-logo-name {
            margin-right: auto;
            img {
                height: 70px;
                padding: 10px 0;
            }
            
            p {
                line-height: 1;
            }
        }
    
        .nav-contact-us a {
            color: white;
        }
    
        .nav-general {
            width: 50%;
            justify-content: space-evenly;
        }
    
        .nav-contact-us {
            margin-left: auto;
            a {
                padding: 10px 15px 10px 30px;
                border-radius: 80px;
                background-color: #282828;
    
                span {
                    margin: 0 10px;

                    /* prevent it from turning into an emoji on ios screens */
                    font-family: monospace;
                    font-weight: bold;
                }
            }
        }
    }

    /*hide mobile nav*/
    .nav-mobile {
        display: none;
    }
}

/*======Footer Style=====*/
@mixin footerStyle {
    background-color: black;
    color: white;

    a {
        display: block;
        text-decoration: none;
        color: white;
        transition: 0.2s;

        /* make icons8 inline */
        &:last-child {
            display: inline;
        }

        &:hover {
            font-size: 1rem;
            background-image: linear-gradient(to right, #EF018D , #6366F1);
        }
    }


    .footer-flex {
        display: flex;
    }

    .footer-pink,
    .footer-blue,
    .footer-yellow {
        height: 30px;
        width: 100%;
    }

    .footer-pink {
        background-color: $pink;
    }

    .footer-blue {
        background-color: $blue;
    }

    .footer-yellow {
        background-color: $yellow;
    }

    .footer-content {
        margin: $sectionPaddingTB $sectionPaddingLR;
        gap: 30px;
        //border: 1px dashed pink;

        .footer-logo {
            width: 300px;
            margin: 0 auto;

            img {
                height: 200px;
            }
        }

        .contact-details {
            width: 100%;
            justify-content: space-around;
            margin-top: 50px;

            span {
                font-weight: 800;
                text-transform: uppercase;
                }

            //border: 1px dashed blue;
        }
    }

    .footer-logo,
    .copyright {
        text-align: center;
    }

    .copyright {
        margin: 0;
        padding: 20px;
    }
}

/*======Back to top btn Style=====*/
@mixin backToTopBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: $lightblack;
    color: white;
    text-align: center;
    font-size: $headerFontSize;
    border-radius: 50px;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


/*--- MOBILE SCREEN ---*/
@mixin bodyStyle-Mobile {
    font-size: $allTextFontSize-Mobile;

    h1 {
        font-size: $h1FontSize-Mobile;
        margin: 0;
    }

    section {
        padding: 10px;
    }
}

@mixin headerStyle-Mobile {    
    .header-content {
        border-radius: 30px;
        padding: 10px;
        margin-top: 10px;
        font-size: $headerFontSize-Mobile;
        text-align: center;
    
        h1 {
            text-align: center;
            font-size: 1rem;
        }

        p,
        button {
            font-size: 0.8rem;
        }
    
        .header-content-mockups img {
            max-width: 100%;
            height: auto;
            max-height: 400px;
        }
    }
}

@mixin navStyle-Mobile {
    .nav-other-screens {
        display: none;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        .nav-logo-name {
            margin: 0 auto;

            img {
                height: 70px;
            }
        }

        .nav-icon-btns {
            display: flex;
            justify-content: center;
            gap: 50px;
            width: 100%;

            div {
                img {
                    height: 30px;

                    &:hover {
                    background-color: #00aeef;
                    }
                }
            }
        }
    }
}

@mixin footerStyle-Mobile {
    .footer-pink,
    .footer-blue,
    .footer-yellow {
        height: 15px;
        width: 100%;
    }
    
    .footer-content {
        margin: 20px;
        display: block;
        //border: 1px solid white;

        .footer-logo {
           img {
                height: 8pc;
            }
        }

        // .contact-details {
        //     display: block;
        //     margin: 0 50px;
        //     width: fit-content;
        // }
        .footer-flex,
        .contact-details {
            margin: 0;
            width: 100%;
            display: grid;
            // background-color: #fff766;
            grid-template-columns: auto auto;
        }
    }
}

/*--- TABLET SCREEN ---*/
@mixin navStyleTablet {
    .nav-other-screens {
        .nav-contact-us {
            a {
                padding: 10px;
                padding-left: 20px;
            }

            span {
                margin: 0;
            }
        }
    }
}

@mixin footerStyleTablet {
    .footer-content {
        margin: 30px;
        gap: 10px;
    }
}